:host ::ng-deep .modal .ui-toast-message {
    border-radius: 8px;
    padding: 1rem;
    text-align: center;    
    background: linear-gradient(to right top, indigo, #2980b9, #6dd5fa, white) !important;
}